.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 20px 0;
  }
  
  .filter-buttons button {
    background-color: transparent;
    border: 2px solid rgb(170, 243, 253);
    color: rgb(0, 52, 61);
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
  }
  
  .filter-buttons button:hover {
    background-color: rgb(8, 235, 252);
    color: #113F67;
    transform: scale(1.05);
  }
  

  .filter-buttons button.active {
    background-color: rgb(170, 236, 253);
    color: #113F67;
    box-shadow: 0 0 10px #01726999;
  }

  input[type="text"] {
  background-color: #fff;
  color: #113F67;
  border-radius: 6px;
  border: none;
  padding: 6px;
  width: 100%;
  outline: none;
}